<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>946703789876-8g1420gk2uvlal100urh6ipf8rd8h23o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.946703789876-8g1420gk2uvlal100urh6ipf8rd8h23o</string>
	<key>API_KEY</key>
	<string>AIzaSyC7SVMrpFLnXbO_5QYvdNb_Wez6Eh-Z4yc</string>
	<key>GCM_SENDER_ID</key>
	<string>946703789876</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.blueberryparm.journal</string>
	<key>PROJECT_ID</key>
	<string>journal-139f5</string>
	<key>STORAGE_BUCKET</key>
	<string>journal-139f5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:946703789876:ios:de6395fa9817fce3d4ff61</string>
</dict>
</plist>